@import '~bootstrap/scss/bootstrap';

header{
    width: 100%;
    height: 150px;

    .top_line{
        width: 100%;
        height: calc(100% - 120px);
        background-color: blue;
    }

    .bottom_line{
        width: 100%;
        height: calc(100% - 30px);
        background-color: rgb(45, 45, 45);
    }
}

main{
    .jumbo{
        width: 100%;
        height: 300px;
        background-color: red;
    }

    .comicsList{
        height: 800px;
        background-color: grey;
    }

    .merch{ /* FIXME: AGGIUNGERE CON BOOTSTRAP */
        height: 170px;
        background-color: blue;
    }
}

footer{
    .top_section{
        height: 400px;
        background-color: black;
    }

    .bottom_section{
        height: 100px;
        background-color: gray;
    }
}